[submodule "vim/bundle/vim-gradle"]
	path = vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
